.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #f5c518;
  transition: 0.6s;
}

.navbar {
  /* background-color: #f5c518; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  height: 80px;
  gap: 220px;
  font-family: "Kalam";
  font-weight: 400;
  font-style: normal;
}

.navbar-wrapper.sticky {
  width: 100%;
  background-color: #f5c518;
  box-shadow: 1px -1px 83px -29px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px -1px 83px -29px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -1px 83px -29px rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.nav-left,
.nav-right {
  display: flex;

  gap: 40px;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

.navbar-links li {
  /* margin-left: 1.5rem; */
  transition: 0.6s;
  position: relative;
  cursor: pointer;
}

.navbar-links li::after {
  content: "";
  width: 0;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: 0.5s;
}

.navbar-links li:hover::after {
  width: 100%;
}

.shop-button {
  background: #fff;
  padding: 6px 14px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.navbar-links li.active::after {
  width: 100%;
}

.logo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border-radius: 50%;
  padding: 5px;
  width: 100px;
}

.navbar-toggle {
  color: #000;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
}

.navbar-toggle {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
}

.navbar-logo,
.navbar-toggle {
  display: none;
}

@media (max-width: 1060px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 1rem 0;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-links li {
    margin: 0.5rem 0;
    text-align: center;
  }

  .navbar-toggle,
  .navbar-logo {
    display: block;
  }
  .navbar-logo img {
    height: 55px;
  }
  .logo {
    display: none;
  }

  .navbar {
    /* background-color: #f5c518; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 80px;
    gap: 130px;
  }
}

/* Mobile View NavBar */
.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  color: white;
}

.fullscreen-menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.fullscreen-menu li {
  margin: 1.5rem 0;
}

.fullscreen-menu a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.fullscreen-menu a:hover {
  color: #f39c12;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 30px;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1100; /* Ensure it's clickable above other elements */
}
